section.json-app {
  display: flex;

  .json-editor {
    padding: 1rem;
    flex: 1;
    min-width: 0;
    min-height: 0;
  }

  .json-tabs {
    display: flex;
    flex-direction: column;
    width: 190px;
    border-right: 1px solid var(--border-color);

    .tab-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.7rem;
      border-bottom: 1px solid var(--border-color);

      .title {
        font-size: 0.9rem;
        margin: 0;
      }

      .add-tab {
        font-size: 1.2rem;
        cursor: pointer;
        outline: none;
      }
    }

    .tab-search {
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--border-color);

      .search-input {
        width: 100%;
        background: transparent;
        border: none;
        padding: 0.5rem;
        color: #fff;
        outline: none;
      }
    }

    .tab-list {
      flex: 1;
      min-height: 0;
      overflow: auto;

      .tab {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.8rem;
        padding: 0.7rem;
        border-bottom: 1px solid var(--border-color);
        cursor: pointer;

        &:hover {
          background-color: rgba(255,255,255, 0.05);
        }

        &.active {
          background-color: rgba(255,255,255, 0.1);
        }

        .tab-name {
          flex: 1;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .delete-tab {
          font-size: 1rem;
          cursor: pointer;
          outline: none;
        }
      }
    }
  }
}
