.editor-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .editor-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5rem;

    .title {
      margin: 0;
    }

    .actions {
      display: flex;
      align-items: center;

      .action-item {
        font-weight: bold;
        cursor: pointer;
        margin-right: 1rem;
        font-size: 0.8rem;

        &.active {
          color: var(--primary-color);
        }
      }

      svg.action-item {
        cursor: pointer;
        outline: none;
        font-size: 0.9rem;
      }
    }
  }

  .react-codemirror2 {
    flex: 1;
    min-width: 0;
    min-height: 0;

    .CodeMirror {
      height: 100%;
      width: 100%;
      font-size: 0.8rem;

      .CodeMirror-line {
        padding: 0 8px;
      }
    }
  }
}
