textarea {
  height: 100%;
  width: 100%;
  resize: none;
  background-color: rgba(0,0,0,0.3);
  border: 1px solid var(--border-color);
  color: inherit;
  outline: none;
  border-radius: 4px;
  padding: 0.5rem;

  &:focus {
    border-color: var(--border-hover-color)
  }
}
