.tree-view {
  height: 100%;

  .react-json-view {
    height: 100%;
    padding: 8px;
    overflow: auto;
    background-color: #0f1119 !important;
    font-size: 0.8rem;
  }
}

.invalid-json-error {
  height: 100%;
  padding: 8px;
  overflow: auto;
  background-color: #0f1119 !important;
  font-size: 0.9rem;
}
